[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
pysimplegui = "*"
pystray = "*"
pillow = "*"
psgtray = "*"
requests = "*"
python-slugify = "*"
"pywebview[qt]" = {version = "*", markers="sys_platform == 'linux' or sys_platform == 'darwin'"}
"pywebview[cef]" = {version = "*", markers="sys_platform == 'win32'"}

[dev-packages]

[requires]
python_version = "3.9"
