[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
pysimplegui = "*"
pystray = "*"
pillow = "*"
psgtray = "*"
requests = "*"
python-slugify = "*"

[dev-packages]

[requires]
python_version = "3.9"
